<a href="https://colab.research.google.com/github/nawanemacano/Aulas-Geral-Dev/blob/main/%5BMPDZ%5D_M%C3%B3dulo_2_Conhecendo_as_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">



## Conhecendo as *Strings*

Nesta aula conheceremos as *strings*, que são uma sequência de caracteres como números, letras e símbolos.


<center><img width="50%" src="https://image.freepik.com/free-photo/words-letter-made-with-wooden-cubes-brown-desk_23-2148101481.jpg
"></center>

Strings são caracteres declarados entre aspas (simples ou duplas), sendo que esses caracteres podem ser símbolos, números ou letras.

Operações ou manipulações de *strings* são muito comuns, e com frequência você irá precisar trabalhá-las em seus projetos de *Data Science*. Vale ressaltar que o Python mostra o tipo *string* como sendo `str`:

In [ ]:
# verificando o tipo
type("Carlos Melo")

In [ ]:
print("Carlos" + "Melo" + 3)

Para imprimir *strings*, eu informo as mesmas dentro da função `print()`.

In [ ]:
print(nome, 36.5)

In [ ]:
# associando stings às variáveis
nome = "Carlos"
sobrenome = "Melo"
sufixo = "Junior"
profissao = "Piloto"

# imprimir nome completo
print("Nome completo:")
print(nome, sobrenome, sufixo)

# imprimir profissão
print("Sua profissão é", profissao + ".")

É possível acessar os caracteres individuais dentro de uma *string*. Para isso, basta informar a posição desejada entre colchetes.

**Lembre-se sempre que a linguagem Python (assim como a maioria) começa com uma indexação em 0.** Veja como as posições da *string* `Carlos` estão distribuidas:

| **0** | **1** | **2** | **3** | **4** | **5** |
|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|
| C     | a     | r     | l     | o     | s     |

Uma dica, para acessar a última letra de uma *string* é só colocar `[-1]` ao final da mesma.

In [ ]:
# criando a variável
nome = "Carlos"

# ver qual é a primeira letra da variável `nome`
nome[0]

In [ ]:
# ver qual a última letra da variável `nome`
nome[-1]

### Função  `len()`


Para saber o tamanho de uma *string*, existe no Python uma função chamada `len()`, que irá sempre retornar um valor do tipo inteiro (`int`). Usá-la é muito simples e direto:

In [ ]:
# verificar o tamanho da sequência de um DNA
dna = 'ATGCGGACCTAT'

len(dna)

### Função `split()`

A função `split()` serve para você separar *strings* baseando-se em um delimitador. Por exemplo, a variável nome da célula abaixo contém 3 nomes separados por vírgulas.

Para eu extrair esses nomes, basta eu executar `nomes.split(',')`, e o Python vai me retornar uma lista com 3 itens.

Não se preocupe. O conceito de listas será abordado mais para frente!

In [ ]:
nomes = "Carlos,Fernanda,Theo"

nomes.split(",")

### Função `replace()`

Como o nome já diz, ela serve para substituir caracteres dentro de uma string.

Imagine a situação que você importa uma tabela sua do Excel, e os valores monetários estão no sistema brasileiro,ou seja, as casas decimais estão separadas por vírgulas.

Se eu quiser converter uma string do tipo `9,50` em um valor numérico, eu tenho que substituir a vírgula pelo ponto:

In [ ]:
# criando a variável
valor = "9,50"

In [ ]:
# trocando a vírgula por ponto
float(valor.replace(",", "."))

### Função `strip()`

Remove ou espaços em branco ou caracteres indesejados. Pode ser usada tanto para remover espaços em branco no começo e final de uma *string*, quanto para remover caracteres indesejados.

In [ ]:
# criando a variável
nome = "     Carlos Melo     "

# utilizando a função strip
nome.strip()

Voltando ao exemplo que usei na função `replace()`, imagine que quando você importou seus dados eles virem da seguinte forma: `R$ 9,00`.

Se você quiser converter para um número, precisa antes eliminar os caracteres `R$ `

In [ ]:
"R$ 9,50".strip('R$ ')

In [ ]:
"R$ 9,50".strip('R$ ').replace(',', '.')

In [ ]:
float("R$ 9,50".strip('R$ ').replace(',', '.'))

### Slicing
O Python nos permite "cortar" as nossas strings, técnica chamada de `slicing`.

Como exemplo, vamos usar a variável abaixo

In [ ]:
nome = 'Carlos'

In [ ]:
nome[2:4]

Para fazer o slicing, nós chamamos a variável a ser "fatiada", e colocamos entre colchetes o index de início e fim, separados por `:`.

Lembre-se que a indexação em Python começa no zero, portanto:
* [0] - C
* [1] - a
* [2] - r
* [3] - l
* [4] - o
* [5] - s

Também é importante saber que a posição final não é incluída. Ou seja, se chamarmos o slicing da seguinte forma:

nome[2:4]

teríamos como retorno as letras
* [2] - r
* [3] - l

pois a letra `o` na posição quatro, não é incluída no slicing.

In [ ]:
# slicing da variável `nome`
nome[2:4]

Também podemos omitir uma das variáveis, e isso fará que o slicing comece desde o primeiro index, e termine no último.

In [ ]:
# slicing do começo ao 4
nome[:4]

'Carl'

In [ ]:
# slicing do 2 ao fim
nome[2:]

'rlos'

Lembre-se que podemos adicionar as strings. Podemos fazer isso também usando slicing.

In [ ]:
print('Nome Completo: ', nome)
print('Primeira parte: ', nome[:3])
print('Segunda parte: ', nome[3:])
print('Nome feito adicionando Slices: ', nome[:3] + nome[3:])

Nome Completo:  Carlos
Primeira parte:  Car
Segunda parte:  los
Nome feito adicionando Slices:  Carlos

Ainda falando de slices, nós também podemos definir um *step*, ou um passo de intervalo, para que os caracteres sejam pulados.

Vamos ver como isso funciona na prática.

In [ ]:
# criando a variável
num = 'abcdefghijklmnop'
print(num)

abcdefghijklmnop

In [ ]:
num[0:8:2]

'aceg'

In [ ]:
num[0:8:1]

'abcdefgh'

Como temos 27 caracteres, isso significa que nossos índices vão do 0 ao 26, totalizando 27.

Podemos usar o slicing para mostrar apenas os números ímpares, por exemplo, basta acrescentar um dígito extra, que é o step.

A sintaxe fica da seguinte forma:

> variável[*index_início*, *index_final*, *step*]

In [ ]:
# slicing da variável num, começando do primeiro caractere, indo até o último, em step 2, ou seja
# mostra um, pula um
num[::2]

In [ ]:
# para visualizarmos os pares, basta começar da posição 2
# aqui temos dois `:`, pois indicamos o início, até (:) o final (:) e step 2.
num[1::2]

### Convertendo Strings

Por padrão, podemos usar o Python para converter as strings em maíusculas, minúsculas, etc.

Esses processos são bastante úteis ao tratarmos dados em formato string.

In [ ]:
# criando a variável a ser manipulada
nome = "josé Santos da Silva"

In [ ]:
nome

#### capitalize()

Essa função transforma o primeiro caractere em maiúsculo.

In [ ]:
# utilizando capitalize
nome.capitalize()

'Carlos'

#### lower()
Essa função transforma todos os caracteres em minúsculo.

In [ ]:
# utilizando lower
nome.lower()

'carlos'

#### upper()
Para tornar todas maiúsculas, basta usar essa função.

In [ ]:
# utilizando upper
nome.upper()

'CARLOS'

#### title()
Essa função transforma a primeira letra de cada palavra em maiúscula.

In [ ]:
# utilizando title
nome.title()

#### swapcase()
Aqui iremos inverter as coisas, transformando maiúsculas em minúsculas, e vice-versa.

In [ ]:
# utilizando swapcase
nome.swapcase()

## Exercícios

<center><img width="50%" src="https://image.freepik.com/free-photo/coding-man_1098-18084.jpg
"></center>

### Exercício 1

Escreva seu nome e sobrenome, como nos exemplos acima, e imprima ele na tela usando a função `print()`:

In [ ]:
# resposta

In [ ]:
#@title Solução
print("Carlos Melo")

### Exercícios 2
Verifique o tamanho da *string* da variável sha1_hash abaixo:

In [ ]:
sha1_hash = "b91552e0b2b2183e85a4371020ab6b9f4ef83ed0"

In [ ]:
# resposta

In [ ]:
#@title Solução
len(sha1_hash)

### Exercício 3

Converta a string `85,00 Kg` em uma variável do tipo float.

In [ ]:
# resposta

In [ ]:
#@title Solução
float('85,00 Kg'.strip(' Kg').replace(',', '.'))

#### Exercício 4

Faça o que se pede com a variável em cada uma das células abaixo

In [ ]:
# criando a variável
x = 'Data, Science, é, demais!'

In [ ]:
# a) imprima a quantidade de caracteres na variável x

In [ ]:
# b) retire as vírgulas da variável

In [ ]:
# c) imprima apenas os 6 primeiros caracteres da variável

In [ ]:
# d) imprima todos os caracteres, mostrando um e pulando um

In [ ]:
# e) transforme todas as letras em maiúsculas

In [ ]:
# f) transforme todas as letras em minúsculas

In [ ]:
#@title Solução
print(x)
# a)
print(len(x))

# b)
x = x.replace(',', '')
print(x)

# c)
print(x[:6])

# d)
print(x[::2])

# e)
print(x.upper())

# f)
print(x.lower())